/.DS_Store
.DS_Store
AppMovies.xcworkspace/xcuserdata/brunovieirasouza.xcuserdatad/UserInterfaceState.xcuserstate
AppMovies.xcodeproj/xcuserdata/u010616.xcuserdatad/xcschemes/xcschememanagement.plist
AppMovies.xcworkspace/xcuserdata/u010616.xcuserdatad/UserInterfaceState.xcuserstate
Pods/Pods.xcodeproj/xcuserdata/u010616.xcuserdatad/xcschemes/xcschememanagement.plist
AppMovies.xcworkspace/xcuserdata/u010616.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
